@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

header,
#hero,
footer {
    background-color: #1f2937;
    align-items: stretch;
    padding: 0px 200px 0px 200px;
    display: flex;
}

header,
footer {

    margin: 0;
    font-size: 18px;
    align-items: center;
    

}


main {
    display: flex;
    flex-direction: column;
}


.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.page-links {
    margin-left: auto;
}

a,
footer {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;

}



ul {
    list-style-type: none;
    display: flex;
    gap: 16px;

}

#hero{
    
}

.hero-text h3 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-image {
    display: flex;
    background-color: #bbb;
    align-items: center;
    justify-content: center;
}


footer {
    justify-content: center;
}